{% extends 'base.html' %}
{% block head %}
    <style>
        .menu-box{
            display:grid;
            grid-template-columns:200px 200px 200px 200px;
            justify-content: center;
            border:1px dotted red;
        }
        .container {
            display: grid;
            border: 3px dotted red;
            grid-template-rows: 500px;
            grid-template-columns:600px ;
            align-content: center;
            justify-content: center;
            align-items:center;
            justify-items: center;
        }
        .inner-container{
            display:grid;
            border:2px dashed green;
            grid-template-columns:200px 200px;
            grid-auto-rows:minmax(50px, auto);
        }
        .bottom-container{
            display:grid;
            justify-items: center;
        }
    </style>

{% endblock %}
{% block content %}
    <div class="container">
        <form method="POST" action="{% url 'chemoresponse:patient-create' %}">
            {% csrf_token %}
            <div class="inner-container">
                {% for field in form %}
                    <div>{{ field.label }}</div>
                    <div>{{ field }}</div>
                {% endfor %}
            </div>
            <div class="bottom-container">
                <button type="submit">등록</button>
            </div>
        </form>
    <div><a href="{% url 'chemoresponse:patientlist' %}"><button>환자목록</button></a></div>

    </div>
{% endblock %}