{% extends 'base.html' %}
{% block head %}
    <!-- include libraries(jQuery, bootstrap) -->
{#    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">#}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
{#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
           .upper-under-outer{
            display:grid;
            grid-template-columns: 1fr 2fr;
            grid-auto-rows;
            justify-content: center;
            justify-items;center;
        }
        .upper-box{
            margin-top:20px;
            display: flex;
            flex-direction: row;
            box-sizing:border-box;
            align-content: center;
            align-items:center;
            justify-content: space-around;
        }
        .nav-box{

            margin-top:20px;
            margin-bottom: 5px;
            display: flex;
            justify-content:center;
            align-content: center;
            align-items: center;

        }
        .nav-box.small{
            margin-top:0;
        }
        .nav-link{
            margin-right:20px;
            text-decoration:none;
            font-size: 14px;
            color: #6a737d;
            cursor: pointer;
            border-bottom: 2px solid #ebefea;
            transition: border-bottom-color .4s;
            padding:2px 0;
        }
        .nav-link.selected{
            font-weight:600;
            border-bottom-color:#1074e7;
        }

        .nav-box{
            display: flex;


        }
        .desc-box{
            background-color: #fff;
            border: 1px solid #d1d5da;
            border-radius: 3px;
            padding:10px 25px 10px 25px;
            box-shadow: 0 1px 5px rgba(27,31,35,.15)!important;
        }

        .nav-box:first-child{
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px
        }
        .nav-box:last-child{
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
        .nav-box-item{
            position: relative;
            float: left;
            padding: 6px 14px;
            font-weight: 600;
            line-height: 20px;
            color: #586069;
            border: 1px solid #e1e4e8;
            text-decoration:none;
            font-size:14px;
            width:100px
        }
        .nav-box-item:hover{
            background: rgba(255,255,255,0.3);
            box-shadow: 1px 1px 1px #999999 inset;
            top:0;
            left:0;

        }
        .nav-box-item.selected{
            color: #fff;
            background-color: #0366d6;
            border-color: #0366d6;
        }
        .nav-box-item:first-child{
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px
        }
        .nav-box-item:last-child{
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
                .nav-box-item.item-disabled{
            color: #d6d6cc;

        }

        .menu-box{
            display:grid;
            grid-template-columns:200px 200px 200px 200px;
            background: #eee linear-gradient(to bottom, #fcfcfc, #eee);
            align-content: center;
            justify-items:center;
            justify-content: center;
            margin-bottom: 20px;
            border:1px solid #d5d5d5;
            width:900px;
            height:40px;
            border-radius:20px;
            padding:3px;
        }
        .menu-btn{
            height:34px;
            border:1px solid #b82c2c;
            outline:0;
            border-radius:3px;
            font-weight:500;
            font-size:14px;
            color:#fff;
            background: #a55122 linear-gradient(to bottom, #dd7f4e, #ae501e);
            cursor:pointer;
            position:relative;


        }
        .menu-btn.new-exam{
            background: #1a7029 linear-gradient(to bottom, #499c24, #2b7120);
            border:1px solid #40654a;

        }
        .menu-btn-link{
            height:34px;
            border:1px solid #b82c2c;
            outline:0;
            border-radius:3px;
            font-weight:800;
            font-size:14px;
            text-decoration: none;
            color:#fff;
            background: #a55122 linear-gradient(to bottom, #dd7f4e, #ae501e);
            cursor:pointer;
            position:relative;
            margin-left:10px;
            padding:7px 5px;
        }
        .menu-btn-link.new-exam{
            background: #a5191f linear-gradient(to bottom, #dd7f58, #ae0c2e);

        }
        .menu-btn.small-btn{
            height:23px;
            background: #5275c1 linear-gradient(to bottom, #275370, #1041ae);
            border:1px solid #01366f;

        }

        .menu-btn.small-btn.under{
            height:23px;
            background: #c11400 linear-gradient(to bottom, #c11400, #ae0b0f);
            border:1px solid #b41600;

        }
        .menu-btn:hover::before{
            content:"";
            position:absolute;
            border-radius:10px;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background: rgba(255,255,255,0.3);
            box-shadow: 2px 2px 2px #999999;

        }
        .menu-btn:active{
            transform:translate(1px, 1px);
        }

        .menu-box{
            display:grid;
            grid-template-columns:200px 200px 200px 200px;
            justify-content: center;
            border:1px dotted red;
        }

        .form-container{
        border:1px solid yellowgreen;
        grid-template-columns: 200px 200px 200px 200px;
        display:grid;
        justify-content: center;
        grid-gap:10px;
        justify-items:center;
        margin:10px;
    }
        .container{
            display:grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            grid-gap: 1rem;
            align-content: start;
            justify-content: center;

        }
        .box{
            background: #EDE7F6;
            padding: 1.5rem;
            border-radius: 1rem;;
            border: 1px solid orange
        }
        .centered{
            overflow:hidden;
            padding: 0;
            border:1px dashed black;
        }
        figure{
            margin:0;
            text-align: center;
            border: 1px solid red;
            position:relative;
            left:100%;
            margin-left:-200%;
        }
        img{
            border: 1px solid blue;
        }

        .container-form{
            display:grid;
            grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
            grid-gap: 1rem;
            align-content: start;
            justify-content: center;
            align-items:center;
            justify-items: center;

        }

        .pasted-image-area{
            display:grid;
            width:400px;
            height:200px;
            align-content: center;
            justify-content: center;
            border:1px solid;
        }

        .box-form{
            background: #EDE7F6;
            padding: 1.5rem;
            border-radius: 1rem;;
            border:1px solid purple;
        }
        .btn-paste{
            display:grid;
            border: 1px solid crimson;
            justify-content: center;
        }
        .required{
            border:2px solid purple
        }
        #image_area{
            height:200px;
            border:5px dashed orange;
        }
        #editableDiv{
            height:200px;
            border:5px dashed blue;
            background-color:#ff9966;
        }

    </style>
{% endblock %}
{% block content %}
<body>
    <div class="upper-under-outer">
        <div class="upper-box">
            <div class="desc-box">Patient ID: {{ patient_id }} Target No: {{target_no}} </div>
            <a href="{% url 'chemoresponse:patient-create' %}"> <button class='menu-btn' type="button">+ 새 환자등록</button></a>
        </div>
        <nav class="nav-box">
            <a class="nav-box-item item-disabled" href="{% url 'chemoresponse:patientlist' %}">환자 관리</a>
            <a class="nav-box-item item-disabled"  href="{% url 'chemoresponse:targetlist-main' %}">표적 관리</a>
            <a class="nav-box-item selected" href="#">반응 관리</a>
            <a class="nav-box-item item-disabled" href="#">반응 평가</a>
        </nav>
        <div></div>
        <div class="nav-box small">
            <a class="nav-link" href="{% url "chemoresponse:target-list-for-images" patient_id %}">표적리스트</a>
            <a class="nav-link" href="{% url 'chemoresponse:tumortargets' patient_id target_no%}">이미지리스트</a>
            <a class="nav-link selected"  href="{%url 'chemoresponse:targetimagecreate' patient_id target_no %}">이미지 추가하기</a>
            <a class="nav-link" href="{%url 'chemoresponse:tumortargets-updatelist' patient_id target_no %}">이미지 수정하기</a>
        </div>
    </div>
    <div class="container">
        {% for image in image_list %}
            <div class="box">
                <div class="centered">
                    <figure>
                        <img src="{{ image.target_image.thumb_url}}" alt="" height=auto />
                        {#                            <figcaption style="width:150px">{{ image.target_image.url }}</figcaption>#}
                        <figcaption>{{ image.image_modal.image_date }}</figcaption>
                    </figure>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="container-form">

        <div class="box-form pasted-image-area">
            <div class="btn-paste">미리보기/붙여넣기</div>
            <div id="editableDiv" contenteditable='true'><div id="image_area" ></div></div>
            <div class="btn-paste">
{#                <button type="button" class="btn btn-primary" id="btn_id_image_desc" data-imagegrab-url ={% url 'chemoresponse:imagegrab' %}>붙여넣기</button>#}
            </div>
        </div>
        <div class="box-form">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div>
                        <div>
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        </div>
                        <div class="{% if field.field.required %}required{% endif %}">{{ field }}</div>
                        <div>
                            {{ field.errors }}
                        </div>

                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">생성</button>
            </form>
        </div>
    </div>

</body>
<script>
    function pasteHandler(e) {
            console.log('this is clipboradata hander function!!');
            document.execCommand("Paste");
        if (e.clipboardData||window.clipboardData) {
            dataInClipboard = e.clipboardData||window.clipboardData;
            console.log('this is clipboradata hander inner');
            // Get the items from the clipboard
            let items = e.clipboardData.items;
            if (items) {
                // Loop through all items, looking for any kind of image
                for (let i = 0; i < items.length; i++) {
                    if (items[i].type.indexOf("image") !== -1) {
                        // We need to represent the image as a file,
                        let blob = items[i].getAsFile();
                        let URLObj = window.URL || window.webkitURL;
                        let source = URLObj.createObjectURL(blob);
                        let reader = new FileReader();
                        reader.onload = function(e) {
                            document.getElementById("summaryImage").value= reader.result;
                        };
                        reader.readAsDataURL(blob);
                    }
                }
            }
        }
        else{
            console.log('there is no clipboard data.')
        }
    }

    async function searchimg(form_url){
                axios.defaults.xsrfCookieName = 'csrftoken';
                axios.defaults.xsrfHeaderName = 'X-CSRFToken';
                console.log("hello this is in searchall function");

                console.log('this is url', form_url);
                try {
                    const res = await axios({
                        method: 'get',
                        url: form_url,
                    });
                    let htmlimgtag = res.data.html_img_tag;
                    let imgbase64text = res.data.img_base64_text;
                    if (htmlimgtag) {
                        render_data('image_area',htmlimgtag);
                    }
                    if (imgbase64text){
                        render_data('id_image_desc',imgbase64text);
                        render_value('id_image_container',imgbase64text);
                    }

                    console.log('imgtxt', imgbase64text);
                    ChangeImageInputElement.value=imgbase64text;
                    console.log('success');
                    {#let image = new Image();#}
                    {#let imagestring = 'data:image/png;base64,';#}
                    {#let imagestringresult;#}
                    {#imagestringresult = imagestring.concat(b64encoded);#}
                    {#console.log(imagestringresult);#}
                    {#image.src = imagestringresult;#}
                    {#imageAreaElement.setAttribute('src',imagestringresult);#}

                } catch {
                    console.log ('failed search image func.');
                }
            }


    function render_data(element,html_data){
        const render_area = document.getElementById(element);
        render_area.innerHTML = html_data;
    }

    function render_value(element,html_data){
        const render_area = document.getElementById(element);
        render_area.value = html_data;
    }
    const imagedescElement = document.getElementById("btn_id_image_desc");
    console.log(imagedescElement);

    const imageAreaElement = document.getElementById("image_area");
    console.log(imageAreaElement);
    const ChangeImageInputElement = document.getElementById("id_target_image");
    console.log('this is target_image button', ChangeImageInputElement);

    function bindPasteButton(){
        imagedescElement.addEventListener('click', event => {
                const form_url = imagedescElement.getAttribute('data-imagegrab-url');
                event.preventDefault();
                event.stopPropagation();
                searchimg(form_url);
            }
        )
    }

    function readURL(input) {
        if (input.files && input.files[0]) {
            let reader = new FileReader();
            console.log('input files is -> ',input.files[0]);
            reader.readAsDataURL(input.files[0]);
            let htmlimgtag = "<img height=\"200px\" src=";
            reader.onload = function (e) {
                console.log(e.target.result);
                htmlimgtag += e.target.result  + ">";
                render_data('image_area',htmlimgtag);
                render_value('id_image_container','');
            };
        }
    }

    function bindChangeImageInputButton(){
        ChangeImageInputElement.addEventListener('change', event => {
                event.preventDefault();
                event.stopPropagation();
                readURL(ChangeImageInputElement);
            }
        )
    }

    function handlePaste (e) {
        var clipboardData, pastedData;

        var URLObj = window.URL||window.webkitURL;

        // Stop data actually being pasted into div
        e.stopPropagation();
        e.preventDefault();
        console.log('you entered func. handlepaste');

        // Get pasted data via clipboard API
        clipboardData = e.clipboardData || window.clipboardData;
        var items = clipboardData.items;
        for (var i=0; i<items.length;i++){
            console.log('this is index',i);
            console.log('this is item-index i', items[i])
        }
        item1 = items[0];

        console.log('this is item1', item1);
        console.log('type of item1', typeof(item1));
        console.log('this is type of item1;', item1.type);
        typeofitem1 = item1.type;
        console.log('is image??', typeofitem1.split("/")[0]);


        console.log('this is type of type of item1;', typeof(item1.type));
        var blob2 = item1.getAsFile();
        console.log('this is blob2', blob2);

        {#var source = URLObj.createObjectURL(blob2);#}
        {#console.log('this is source', source);#}
        var reader = new FileReader();
        {#readerdata = reader.readAsDataURL(blob2);#}
        {#console.log(readerdata);#}
        if (typeofitem1.split("/")[0]==='image') {

            reader.onload = function (e) {
                alert('이미지 붙여넣기');
                console.log('this is reader result', reader.result);
                document.getElementById('editableDiv').value = reader.result;
                let htmlimgtag = "<img height=\"200px\" src=";
                htmlimgtag += e.target.result + ">";
                render_data('image_area', htmlimgtag);
                render_value('id_image_container', htmlimgtag);
            };
            reader.readAsDataURL(blob2);
        }
        else{
            console.log('this is not image. bye.')
        }

    }

    document.getElementById('editableDiv').addEventListener('paste',handlePaste
    );
    function main(){
        console.log('hello this is ds2html');
        {#bindPasteButton();#}
        bindChangeImageInputButton();
    }
    document.addEventListener('DOMContentLoaded', main);
</script>
{% endblock %}