{% extends 'base.html' %}
{% block head %}
<style>
       .upper-under-outer{
            display:grid;
            grid-template-columns: 1fr 2fr;
            justify-content: center;

        }
        .upper-box{
            margin-top:20px;
            display: flex;
            flex-direction: row;
            box-sizing:border-box;
            align-content: center;
            align-items:center;
            justify-content: space-around;
        }
        .nav-box{

            margin-top:20px;
            margin-bottom: 5px;
            display: flex;
            justify-content:center;
            align-content: center;
            align-items: center;

        }
        .nav-box.small{
            margin-top:0;
        }
        .nav-link{
            margin-right:20px;
            text-decoration:none;
            font-size: 14px;
            color: #6a737d;
            cursor: pointer;
            border-bottom: 2px solid #ebefea;
            transition: border-bottom-color .4s;
            padding:2px 0;
        }
        .nav-link.selected{
            font-weight:600;
            border-bottom-color:#1074e7;
        }

        .nav-box{
            display: flex;


        }
        .desc-box{
            background-color: #fff;
            border: 1px solid #d1d5da;
            border-radius: 3px;
            padding:10px 25px 10px 25px;
            box-shadow: 0 1px 5px rgba(27,31,35,.15)!important;
        }

        .nav-box:first-child{
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px
        }
        .nav-box:last-child{
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
        .nav-box-item{
            position: relative;
            float: left;
            padding: 6px 14px;
            font-weight: 600;
            line-height: 20px;
            color: #586069;
            border: 1px solid #e1e4e8;
            text-decoration:none;
            font-size:14px;
            width:100px
        }
        .nav-box-item:hover{
            background: rgba(255,255,255,0.3);
            box-shadow: 1px 1px 1px #999999 inset;
            top:0;
            left:0;

        }
        .nav-box-item.selected{
            color: #fff;
            background-color: #0366d6;
            border-color: #0366d6;
        }
        .nav-box-item:first-child{
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px
        }
        .nav-box-item:last-child{
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
                .nav-box-item.item-disabled{
            color: #d6d6cc;

        }

        .menu-box{
            display:grid;
            grid-template-columns:200px 200px 200px 200px;
            background: #eee linear-gradient(to bottom, #fcfcfc, #eee);
            align-content: center;
            justify-items:center;
            justify-content: center;
            margin-bottom: 20px;
            border:1px solid #d5d5d5;
            width:900px;
            height:40px;
            border-radius:20px;
            padding:3px;
        }
        .menu-btn{
            height:34px;
            border:1px solid #b82c2c;
            outline:0;
            border-radius:3px;
            font-weight:500;
            font-size:14px;
            color:#fff;
            background: #a55122 linear-gradient(to bottom, #dd7f4e, #ae501e);
            cursor:pointer;
            position:relative;


        }
        .menu-btn.new-exam{
            background: #1a7029 linear-gradient(to bottom, #499c24, #2b7120);
            border:1px solid #40654a;

        }
        .menu-btn-link{
            height:34px;
            border:1px solid #b82c2c;
            outline:0;
            border-radius:3px;
            font-weight:800;
            font-size:14px;
            text-decoration: none;
            color:#fff;
            background: #a55122 linear-gradient(to bottom, #dd7f4e, #ae501e);
            cursor:pointer;
            position:relative;
            margin-left:10px;
            padding:7px 5px;
        }
        .menu-btn-link.new-exam{
            background: #a5191f linear-gradient(to bottom, #dd7f58, #ae0c2e);

        }
        .menu-btn.small-btn{
            height:23px;
            background: #5275c1 linear-gradient(to bottom, #275370, #1041ae);
            border:1px solid #01366f;

        }

        .menu-btn.small-btn.under{
            height:23px;
            background: #c11400 linear-gradient(to bottom, #c11400, #ae0b0f);
            border:1px solid #b41600;

        }
        .menu-btn:hover::before{
            content:"";
            position:absolute;
            border-radius:10px;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background: rgba(255,255,255,0.3);
            box-shadow: 2px 2px 2px #999999;

        }
        .menu-btn:active{
            transform:translate(1px, 1px);
        }

        .menu-box{
            display:grid;
            grid-template-columns:200px 200px 200px 200px;
            justify-content: center;
            border:1px dotted red;
        }


    .form-container{
        border:1px solid yellowgreen;
        grid-template-columns: 200px 200px 200px 200px;
        display:grid;
        justify-content: center;
        grid-gap:10px;
        justify-items:center;
        margin:10px;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 1rem;

    }
    .box{
        background: #EDE7F6;
        padding: 1.5rem;
        border-radius: 1rem;
        overflow: hidden;
    }
    .centered{
        overflow:hidden;
        text-align:center;
    }

    figure{
        position:relative;
        margin:0;
        left:100%;
        text-align: center;
        margin-left:-200%;
    }
    .baseline{
        display:grid;
        border:1px solid brown;
        background-color:red;
        text-decoration-color: white;
        justify-content: center;
    }
    .no-baseline{
        display:grid;
        border:1px solid brown;
        background-color:yellowgreen;
        text-decoration-color: white;
        justify-content: center;
    }
    .measure{
        display:grid;
        justify-content: center;
    }
</style>
{% endblock %}
{% block content %}
    <div class="upper-under-outer">
        <div class="upper-box">
            <div class="desc-box">Patient ID: {{ patient_id }} Target No: {{target_no}} </div>
            <a href="{% url 'chemoresponse:patient-create' %}"> <button class='menu-btn' type="button">+ 새 환자등록</button></a>
        </div>
        <nav class="nav-box">
            <a class="nav-box-item item-disabled" href="{% url 'chemoresponse:patientlist' %}">환자 관리</a>
            <a class="nav-box-item item-disabled"  href="{% url 'chemoresponse:targetlist-main' %}">표적 관리</a>
            <a class="nav-box-item selected" href="#">반응 관리</a>
            <a class="nav-box-item item-disabled" href="#">반응 평가</a>
        </nav>
        <div></div>
        <div class="nav-box small">
            <a class="nav-link" href="{% url "chemoresponse:target-list-for-images" patient_id %}">표적리스트</a>
            <a class="nav-link selected" href="{% url 'chemoresponse:tumortargets' patient_id target_no%}">이미지목록으로</a>
            <a class="nav-link"  href="{%url 'chemoresponse:targetimagecreate' patient_id target_no %}">이미지 추가하기</a>
            <a class="nav-link" href="{%url 'chemoresponse:tumortargets-updatelist' patient_id target_no %}">이미지 수정하기</a>
        </div>
    </div>

    <div class="container">
        {% if tumortargetimage_list%}
            {% for key, item in image_plus_response_dict.items %}
                <div class="box">
                    <div class="centered">
                        <a href="{{ item.img.target_image.url}}" target="_blank">
                            <figure>
                                <img src="{{ item.img.target_image.thumb_url}}" alt="" height=auto/>
                                <figcaption>{{ item.img.image_modal.image_date }}</figcaption>
                                <figcaption>{{ item.img.target_image.url }}</figcaption>
                            </figure>
                        </a>
                        <a href="{{ item.img.get_absolute_url }}" target="_blank"><button>상세보기</button></a>
                    </div>
                    <div>
                        {% if item.img.baseline %}
                            <div class="baseline">baseline</div>
                        {% else %}
                            <div class="no-baseline">none</div>
                        {% endif %}
                    </div>
                    <div class="measure">{{ item.img.lesion_measure }} cm</div>
                    <div class="measure">({{ item.resp|stringformat:"+d" }}%)</div>
                </div>
            {% endfor %}
        {% else %}
            <p>No target images are available.</p>
        {% endif %}
    </div>
{% endblock %}